.env
.envrc

# Ignore everything inside the audio and text directories
audio/*
text/*
live_audio/*
live_text/*

# Allow the directories themselves
!audio/
!text/
!live_audio/README
!live_text/README

# Infrastructure files
.terraform
.terraform-version
.terraform.lock.hcl
# Ignore all .tfstate files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
