.env
.envrc

# Ignore everything inside the audio and text directories
audio/*
text/*

# Allow the directories themselves
!audio/
!text/

# Infrastructure files
.terraform
.terraform-version
.terraform.lock.hcl
# Ignore all .tfstate files
*.tfstate
*.tfstate.backup
